/* ------------------------
    GOOGLE FONTS IMPORT
-------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* ---------------------------
    VARIABLE DECLARATION
------------------------------ */
:root {
    --banner-bg: #264653;
    --link-btn-bg: #E76F51;
    --link-btn-hover: #db3e17;
    --white-color: #FFFFFF;
    --transition: 0.4s ease-in;
    --text-color: #6C6C6C; 
    --text-black: #000000; 
    --sec-bg: #fbfbfb;
}
/* ------------------------
    COMMON STYLE
-------------------------- */

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
    font-size: 16px;
    background-color: var(--white-color);
    color: var(--text-color);
}
main {
    max-width: 1440px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
ul {
    padding: 0;
}
ul, h1, h2, h3, p, figure {
    margin: 0;
}
/* button, button:hover, button:focus {
    border: none;
} */
li {
    list-style: none;
}
.link-btn {
    background-color: var(--link-btn-bg);
    line-height: 24px;
    display: inline-block;
    padding: 10px 45px;
    text-transform: capitalize;
    color: var(--white-color);
    transition: var(--transition);
}
.link-btn:hover {
    background-color: var(--link-btn-hover);
}
.sec-space {
    padding: 90px 0;
}
.sec-bg {
    background-color: var(--sec-bg);
}
/* header */
header nav {
    background-color: var(--banner-bg);
}
header nav .nav-link {
    color: var(--white-color);
}
header .nav-link:focus, .nav-link:hover {
    color: var(--link-btn-bg)
}
header {
    background: var(--banner-bg);
    color: var(--white-color);
}
small {
    font-size: 14px;
    font-weight: 300;
}
header h1 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 15px;
}
header small, header p {
    color: #E0E0E0;
}
header p {
    margin-bottom: 15px;
}
.modal-content {
    color: var(--text-color);
}
.modal-header .btn-close {
    opacity: 1;
}

@keyframes ride {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(-5px, 5px);
    }
    100% {
        transform: translate(0, 0);
    }
  }
  header:hover img {
      position: relative;
      transition: var(--transition);
      transform: translate(0, 0);
      animation: ride 2s infinite;
  }
/* Featured section style */
.sec-intro {
    padding-bottom: 45px;
}
.sec-intro h2 {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--text-black);
}
.sec-intro small {
    color: #E76F51;
    position: relative;
    font-weight: 600;
}
.sec-intro small:after {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 2px;
    background-color: #E76F51;
    content: "";
}
.sec-intro span {
    color: #E76F51;
}
.feature-col:nth-child(2) img {
    filter: grayscale(0);
}
.feature-col:nth-child(2):hover img {
    filter: grayscale(1);
}
.feature-col img {
    filter: grayscale(1);
    transition: var(--transition);
    transform: translate(0);
} 
.feature-col:hover img {
    filter: grayscale(0);
    transform: translate(-5px, 5px);
}
/* clients section style */
.client.card {
    display: block;
}
.client {
    padding: 40px;
}
.client img {
    margin-bottom: 15px;
}
.client p,.client ul {
    margin-bottom: 15px;
}
.client ul li {
    margin: 0 2px;
    color: #E76F51;
}
.client small {
    font-weight: 600;
    margin-bottom: 15px;
}
#clients .card {
    position: relative;
    top: 0;
    transition: var(--transition);
}
#clients .card-body {
    padding: 0;
}
#clients .card:hover {
    background-color: transparent;
    top: -5px;
}
/* faq section style */
#faq .accordion-button:focus, 
#faq .accordion-button:not(.collapsed) {
    background-color: transparent;
    border-color: transparent;
}
#faq .accordion-button:focus {
    box-shadow: none;
}
#faq .accordion-item .accordion-button {
    font-size: 24px;
    font-weight: 500;
}
#faq .accordion-body {
    color: #7E848C;
}
#faq .accordion-button:not(.collapsed) {
    color: #383838;
}
#faq .accordion-item {
    margin: 10px 0;
    border: 1px solid rgba(0,0,0,.125);
}
/* call to action style */
.call2action {
    background-image: url('../images/bike-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0;
    position: relative;
    z-index: 1;
    color: var(--white-color);
}
.call2action:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: -1;
}
.call2action h2 {
    font-size: 45px;
    margin-bottom: 25px;
}
.call2action p {
    font-size: 22px;
}
/* contact form style */
#contact .form-control:focus {
    border: 1px solid var(--banner-bg);
    box-shadow: none;
}
form button {
    border-radius: 5px;
}
/* footer */
footer {
    background-color: var(--banner-bg);
    color: var(--white-color);
    padding: 30px;
}


@media only screen and (max-width:992px) {
    header .navbar-toggler {
        border: 1px solid var(--link-btn-bg);
        padding: 10px 15px;
    }
    header span {
        color: var(--white-color)
    }
}
@media only screen and (max-width:768px) {
    .sec-space {
        padding: 60px 0;
    }
    header h1,
    .sec-intro h2 {
        font-size: 36px;
    }
    .sec-intro span {
        display: block;
    }
    #faq .accordion-item .accordion-button {
        font-size: 16px;
    }
    header img {
        margin-top: 45px;
    }
    .feature-col,
    #clients .card,
    #faq img {
        margin-bottom: 45px;
    }
    .call2action {
        padding: 100px 0;
    }
    .call2action h2 {
        font-size: 36px;
    }
    .call2action p {
        font-size: 18px;
    }
}